.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 99.9%;
    position: absolute;
    height: 80px;
    left: 0px;
    top: 0px;

    background: rgba(47, 47, 47, 0.5);
    border: 1px solid #74FFD5;
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(47, 47, 47, 0.5);
    width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    top: 85px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    width: 80px;
    cursor: pointer;
  }

  .logo-size {
    position: absolute;
    width: 200px;
    height: 90px;
    left: 0px;
    top: 8px;
    filter: drop-shadow(0px 4.93023px 4.93023px #000000);
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(10, auto);
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 20rem;
  }
  
  .nav-item {
    height: 85px;
  }
  
  .nav-items {
    height: 60px;
  }

  .navbar__link--active {
    color: #00FFB2 !important;
    border-bottom: 3px solid #00FFB2;
    transition: border-bottom .5s ease-in-out;
  }

  .nav-links {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    display: grid;
    grid-template-columns: repeat(11, auto);
    padding-top: 21px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    margin-left: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
  .btn-login {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    display: grid;
    grid-gap: 10px;
    height: 23px;
    width: 90px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    margin-top: 30px;
    top: -3px;
    right: 360px;
    position: absolute;
  }

  .btn-logins {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    display: grid;
    grid-gap: 10px;
    height: 23px;
    width: 240px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    margin-top: 30px;
    top: -3px;
    right: 360px;
    position: absolute;
    text-transform: uppercase;
  }

  .btn-logins:hover{
    color: #74FFD5;
  }

  .btn-register {
    background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
    display: flex;
    align-items: center;
    text-decoration: none !important;
    display: grid;
    grid-gap: 10px;
    height: 23px;
    width: 90px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    margin-top: 30px;
    top: -3px;
    right: 260px;
    position: absolute;
  }

  .nav-linkss {
    display: none;
  }
  
  .nav-links:hover {
    color: #00FFB2;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
    top: 0;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  .far {
    padding-right: 4px;
    font-size: 17px;
    padding-bottom: 4px;
  }

  .flag1 {
    position: absolute;
    top: 25px;
    right: 208px;
    
  }
  .flag2 {
    position: absolute;
    top: 15px;
    right: 149px;
    
  }
  .flag3 {
    position: absolute;
    top: 25px;
    right: 115px;
    
  }
  .flag4 {
    position: absolute;
    top: 25px;
    right: 70px;
    
  }
  .flag5 {
    position: absolute;
    top: 25px;
    right: 25px;
    
  }

  .flag1-m, .flag2-m, .flag3-m, .flag4-m, .flag5-m  {
    display: none;
  }

  .countryMobile {
    display: none;
  }
  
  @media screen and (max-width: 1765px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-items {
      display: unset;
    }

    .nav-item {
      height: auto;
    }

    .nav-item2 {
      height: auto;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 78px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 60px;
      right: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: rgba(47, 47, 47, 0.5);
      border: 1px solid #74FFD5;
      backdrop-filter: blur(50px);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding: 0 0;
      align-items: center;
      padding-top: 0px;
      height: auto !important;
      padding-bottom: 20px;
    }

    .nav-menu2.active {
      background: rgba(47, 47, 47, 0.5);
      border: 1px solid #74FFD5;
      backdrop-filter: blur(20px);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding: 0 0;
      align-items: center;
      padding-top: 0px;
      height: auto !important;
      padding-bottom: 20px;
    }
  
    .nav-links {
      align-items: center;
      padding: 1rem;
      width: auto;
      display: table;
      font-family: 'Work Sans', sans-serif;
      height: 20px;
    }

    .nav-links2 {
      align-items: center;
      padding: 1rem;
      width: auto;
      display: table;
      font-family: 'Work Sans', sans-serif;
      height: 20px;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }

    .nav-links2:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .nav-linkss {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-linkss:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(6%, 6%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: -32px;
      right: -20px;
      transform: translate(-100%, 60%);
      font-size: 2.8rem;
      cursor: pointer;
    }

    .menu-icon-flag {
      display: block;
      position: absolute;
      top: 6px;
      right: 30px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: white;
    }
  
    .fa-times {
      color: #fff;
      font-size: 3rem;
      margin-right: 5px;
      left: 0;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  
    .nav-menu2 {
      display: none;
    }

    .btn-login {
      top: unset;
      right: unset;
      position: unset;
    }

    .btn-register {
      top: unset;
      right: unset;
      position: unset;
    }

    .btn-logins {
      top: unset;
      right: unset;
      position: unset;
    }

    .flag1-m  {
      top: auto;
      right: 265px;
      position: absolute;
      display: unset;
    }

    .flag2-m  {
      top: 620px;
      right: 205px;
      position: absolute;
      display: unset;
    }

    .flag3-m  {
      top: 630px;
      right: 171px;
      position: absolute;
      display: unset;
    }

    .flag4-m  {
      top: 630px;
      right: 123px;
      position: absolute;
      display: unset;
    }

    .flag5-m  {
      top: 630px;
      right: 75px;
      position: absolute;
      display: unset;
    }

    .flag1, .flag2, .flag3, .flag4, .flag5  {
      margin-top: auto;
      margin-right: 30px;
    }
     
  } 
  

  @media screen and (max-width: 1300px){

    .countryMobile{
       display: unset;
    }

    .faPosition{
      position: absolute;
      left: 150px;
    }

    .logo-size{
        width: 140px;
        height: 70px;
        left: 0px;
        top: 15px;
    }
    .flag1 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 145px;
    }

    .flag2 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 102px;
    }

    .flag3 {
      margin-top: auto;
      margin-right: 30px;
      right: 85px;
      position: absolute;
    }

    .flag4 {
      margin-top: auto;
      margin-right: 30px;
      right: 55px;
      position: absolute;
    }

    .flag5 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
    }

    .desktop {
      display: none;
    }
  }

  @media screen and (max-width: 320px){

    .countryMobile{
      display: unset;
   }

    .faPosition{
      position: absolute;
      left: 150px;
    }

    .logo-size{
      width: 130px;
      height: 70px;
      left: 0px;
      top: 15px;
    }
    .flag1 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 140px;
    }

    .flag2 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 97px;
    }

    .flag3 {
      margin-top: auto;
      margin-right: 30px;
      right: 80px;
      position: absolute;
    }

    .flag4 {
      margin-top: auto;
      margin-right: 30px;
      right: 50px;
      position: absolute;
    }

    .flag5 {
      margin-top: auto;
      margin-right: 25px;
      position: absolute;
    }
  }

  @media screen and (max-width: 280px){

    .countryMobile{
      display: unset;
   }

    .logo-size{
        width: 125px;
        height: 60px;
        left: 0px;
        top: 8px;
    }
    .flag1 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 120px;
      width: 24px;
      top: 30px;
    }

    .flag2 {
      margin-top: auto;
      margin-right: 30px;
      position: absolute;
      right: 88px;
      width: 38px;
      top: 23px;

    }

    .flag3 {
      margin-top: auto;
      margin-right: 30px;
      right: 70px;
      position: absolute;
      width: 20px;
      top: 30px;
    }

    .flag4 {
      margin-top: auto;
      margin-right: 30px;
      right: 45px;
      position: absolute;
      width: 20px;
      top: 30px;
    }

    .flag5 {
      margin-top: auto;
      margin-right: 25px;
      position: absolute;
      width: 20px;
      top: 30px;
    }
  }


.linkss {
  cursor: pointer;
  font-size: 26px;
  position: relative;
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
  color: white;
}
.menu-spacing {
  padding-left: 30px;
  padding-right: 30px;
}


.linkss::before,
.linkss::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.linkss::before {
    content: '';
}
.linkss--elara {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 24px;
}

.linkss--elara::before {
    transition: clip-path 0.7s, transform 0.7s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.linkss--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.linkss--elara span {
    display: inline-block;
    transition: transform 0.7s cubic-bezier(0.2, 1, 0.8, 1);
}

.linkss--elara:hover span {
    transform: translate3d(0, -2px, 0);
}

.mobileView{
  display: none;
}

@media screen and (max-width: 515px){
  .mobileView{
      display: unset;
  }

  .eventDesktopView {
      display: none;
  }
}