html {
    height: 100%;
}

.page-wrap {
    min-height: 100vh;
    background-color: black;
}
.error-page {
    align-items: center;
    background: #000;
    height: 100%;
    justify-content: center;
    margin: 0;
    
}

.glitch-position {
    padding-top: 19%;
    padding-bottom: 20%;
}

.glitch {
    animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
    font-family: orbitron, sans-serif;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform-origin: center top;
}
.glitch__main {
    color: #fff;
}
.glitch__color {
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    transform-origin: center center;
    width: 100%;
    z-index: -1;
}
.glitch__color--red {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    color: red;
}
.glitch__color--blue {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
    color: blue;
}
.glitch__color--green {
    animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
    color: #00ff0b;
}
.glitch__line {
    animation: glitch-line 2s linear infinite;
    background: #000;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.glitch__line--first {
    animation: glitch-line 2s linear infinite;
}
.glitch__line--second {
    animation: glitch-line 1s linear 1s infinite;
}
@keyframes glitch {
    0% {
        transform: translate(0);
   }
    20% {
        transform: translate(-8px, 8px);
   }
    40% {
        transform: translate(-8px, -8px);
   }
    60% {
        transform: translate(8px, 8px);
   }
    80% {
        transform: translate(8px, -8px);
   }
    100% {
        transform: translate(0);
   }
}
@keyframes glitch-skew {
    0% {
        transform: skew(0deg, 0deg);
   }
    48% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
   }
    50% {
        transform: skew(-20deg, 0deg);
        filter: blur(4px);
   }
    52% {
        transform: skew(20deg, 0deg);
   }
    54% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
   }
    100% {
        transform: skew(0deg, 0deg);
   }
}
@keyframes glitch-line {
    0% {
        top: 0;
   }
    100% {
        top: 100%;
   }
}
.stars {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.stars__star {
    border-radius: 50%;
    box-shadow: 0 0 4px 1px #fff;
    height: 1px;
    position: absolute;
    width: 1px;
    z-index: 100;
}
.stars__star:nth-child(1) {
    top: 43%;
    left: 25%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(2) {
    top: 28%;
    left: 12%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(3) {
    top: 43%;
    left: 33%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(4) {
    top: 25%;
    left: 27%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(5) {
    top: 40%;
    left: 37%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(6) {
    top: 39%;
    left: 49%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(7) {
    top: 65%;
    left: 37%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(8) {
    top: 80%;
    left: 32%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(9) {
    top: 27%;
    left: 56%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(10) {
    top: 67%;
    left: 94%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(11) {
    top: 54%;
    left: 69%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(12) {
    top: 76%;
    left: 86%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(13) {
    top: 79%;
    left: 12%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(14) {
    top: 71%;
    left: 28%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(15) {
    top: 65%;
    left: 51%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(16) {
    top: 96%;
    left: 63%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(17) {
    top: 4%;
    left: 91%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(18) {
    top: 50%;
    left: 1%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(19) {
    top: 90%;
    left: 11%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(20) {
    top: 34%;
    left: 97%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(21) {
    top: 93%;
    left: 94%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(22) {
    top: 46%;
    left: 35%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(23) {
    top: 44%;
    left: 25%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(24) {
    top: 92%;
    left: 68%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(25) {
    top: 22%;
    left: 69%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(26) {
    top: 90%;
    left: 67%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(27) {
    top: 53%;
    left: 39%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(28) {
    top: 93%;
    left: 48%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(29) {
    top: 32%;
    left: 79%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(30) {
    top: 78%;
    left: 72%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(31) {
    top: 36%;
    left: 18%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(32) {
    top: 91%;
    left: 14%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(33) {
    top: 52%;
    left: 14%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(34) {
    top: 19%;
    left: 80%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(35) {
    top: 83%;
    left: 47%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(36) {
    top: 53%;
    left: 86%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(37) {
    top: 48%;
    left: 86%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(38) {
    top: 46%;
    left: 46%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(39) {
    top: 12%;
    left: 87%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(40) {
    top: 38%;
    left: 60%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(41) {
    top: 12%;
    left: 43%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(42) {
    top: 45%;
    left: 5%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(43) {
    top: 84%;
    left: 75%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(44) {
    top: 90%;
    left: 12%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(45) {
    top: 32%;
    left: 76%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(46) {
    top: 35%;
    left: 28%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(47) {
    top: 47%;
    left: 71%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(48) {
    top: 100%;
    left: 81%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(49) {
    top: 79%;
    left: 90%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(50) {
    top: 24%;
    left: 41%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(51) {
    top: 96%;
    left: 3%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(52) {
    top: 10%;
    left: 44%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(53) {
    top: 34%;
    left: 59%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(54) {
    top: 85%;
    left: 70%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(55) {
    top: 93%;
    left: 91%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(56) {
    top: 60%;
    left: 79%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(57) {
    top: 7%;
    left: 41%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(58) {
    top: 20%;
    left: 35%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(59) {
    top: 19%;
    left: 84%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(60) {
    top: 15%;
    left: 83%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(61) {
    top: 54%;
    left: 15%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(62) {
    top: 53%;
    left: 79%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(63) {
    top: 35%;
    left: 21%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(64) {
    top: 95%;
    left: 43%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(65) {
    top: 70%;
    left: 71%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(66) {
    top: 1%;
    left: 97%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(67) {
    top: 70%;
    left: 56%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(68) {
    top: 3%;
    left: 73%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(69) {
    top: 34%;
    left: 34%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(70) {
    top: 84%;
    left: 32%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(71) {
    top: 4%;
    left: 30%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(72) {
    top: 66%;
    left: 11%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(73) {
    top: 91%;
    left: 71%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(74) {
    top: 30%;
    left: 78%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(75) {
    top: 57%;
    left: 3%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(76) {
    top: 52%;
    left: 62%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(77) {
    top: 29%;
    left: 52%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(78) {
    top: 55%;
    left: 46%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(79) {
    top: 7%;
    left: 60%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(80) {
    top: 75%;
    left: 50%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(81) {
    top: 100%;
    left: 84%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(82) {
    top: 71%;
    left: 15%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(83) {
    top: 26%;
    left: 93%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(84) {
    top: 25%;
    left: 63%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(85) {
    top: 95%;
    left: 94%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(86) {
    top: 49%;
    left: 90%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(87) {
    top: 79%;
    left: 90%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(88) {
    top: 33%;
    left: 97%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(89) {
    top: 87%;
    left: 87%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(90) {
    top: 42%;
    left: 54%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(91) {
    top: 18%;
    left: 87%;
    box-shadow: 0 0 4px 1px #fff;
}
.stars__star:nth-child(92) {
    top: 78%;
    left: 94%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(93) {
    top: 54%;
    left: 63%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(94) {
    top: 13%;
    left: 13%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(95) {
    top: 96%;
    left: 15%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(96) {
    top: 28%;
    left: 5%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(97) {
    top: 66%;
    left: 59%;
    box-shadow: 0 0 4px 3px #fff;
}
.stars__star:nth-child(98) {
    top: 50%;
    left: 13%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(99) {
    top: 48%;
    left: 90%;
    box-shadow: 0 0 4px 2px #fff;
}
.stars__star:nth-child(100) {
    top: 9%;
    left: 67%;
    box-shadow: 0 0 4px 2px #fff;
}
