.thumbs-wrapper {
    display: none;
}

.slider-wrapper {
    left: 0px;
    top: 0px;
    height: auto;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
}

.carousel.carousel-slider {
    position: relative;
    margin: unset;
    overflow: unset;
    margin-left: unset !important;
    margin-right: unset !important;
}

.carousel .slide {
    margin: 0;
    position: relative;
    text-align: center;
}

.carousel .slide .legend {
    position: absolute;
    height: 73px;
    right: 170px;
    top: 226px; 
}

.bg-size {
    height: 420px;
    width: 100%;
    padding-right: 0px;
    position: absolute;
    left: 0px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
    top: 0px;
}

.height {
    height: 420px;
    
}

.carousel{
    position: absolute;
    left: 0px;
    padding-left: 0px !important;
    width: 100% !important;
    top: 0px;
}


.welcome {
    position: absolute;
    width: auto;
    height: auto;
    left: 120px;
    top: 110px; 
}

.welcome2 {
    position: absolute;
    width: 643px;
    height: auto;
    left: 120px;
    top: 185px;
}

.welcome3 {
    position: absolute;
    width: 643px;
    height: auto;
    left: 120px;
    top: 240px;
}

.welcome4 {
    position: absolute;
    width: 643px;
    height: auto;
    left: 120px;
    top: 300px;
}

.text {
    background: -webkit-linear-gradient(316deg, #CD9CF2 0%, #CD9CF2 30%, #F6F3FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Yeseva One', cursive;
    font-style: 400;
    font-weight: 400;
    font-size: 48.5513px;
    line-height: 56px;

    -webkit-text-stroke: 1px #ffffff;
}

.text2 {
    background: -webkit-linear-gradient(113deg, #ffffff 10%, #2FF3FF 50%, #2FF3FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 5px black;
}

.text3 {
    background: -webkit-linear-gradient(113deg, #E520FD 10%, #E520FD 50%, #FFFFFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 5px black;
}

@media screen and (max-width: 768px){
    .welcome {
        position: absolute;
        width: auto;
        height: auto;
        left: 30px;
        top: 75px; 
    }

    .welcome2 {
        position: absolute;
        width: 250px !important;
        height: auto;
        left: 30px !important;
        top: 125px !important;
    }
    
    .welcome3 {
        position: absolute;
        width: 250px;
        height: auto;
        left: 30px;
        top: 210px;
    }

    .welcome4 {
        position: absolute;
        width: 250px;
        height: auto;
        left: 30px;
        top: 270px;
    }

    .text {
        font-size: 20px !important;
    }
    
    .text2 {
        font-size: 10px !important;
    }

    .text3 {
        font-size: 10px !important;
    }


    .bg-size {
        height: 420px;
        width: 100%;
        padding-right: 0px;
        position: absolute;
        left: 0px;
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
        top: 0px;
    }
    
    .height {
        height: 420px;
    }
}