.footer {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    min-height: 180px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../scenes/components/footer.png');
    margin-top: 40px;
}

.footer-details {
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    padding-right: 168px;
    padding-left: 168px;
}

.padding {
    padding: 10px
}

.span1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.span2 {
    padding: 20px;
}

.container {
    width: 86%;
}



.social-size {
    height: 27px;
    filter: brightness(0) invert(1);
}

.social-size:hover{
    height: 27px;
    filter: unset;
}

.alignment {
    text-align: center;
}

@media screen and (max-width: 1024px){
    .footer{
        margin-top: 20px;
    }

    .footer-details {
        margin-right: auto;
        margin-left: auto;
        margin-top: unset;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

    .span1 {
        align-self: center;
        padding-right: unset;
    }

    .span2 {
        padding: 20px
    }
    
}