.bg-sizes {
    position: absolute;
    height: 410px;
    left: 0px;
    top: 0px;
    width: 100%;

    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
    border-left: 8px solid #74FFD5;
    border-right: 8px solid #74FFD5;
    border-bottom: 8px solid #74FFD5;
}

.banner-size {
    position: absolute;
    height: 880px;
    left: 0px;
    top: 0px;
    width: 100%;

    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
}

.girl-position {
    height: 880px;
}

.girl-size{
    left: 0px;
    top: 0px;
}


.content {
    margin-top: 880px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;

    background: linear-gradient(90deg, #11232D 16.18%, #0B4553 87.23%);
}

.marquee-details{
    margin-right: auto;
    margin-left: auto;
    color: white;
    height: auto !important;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

.marquee-color{
    text-decoration: none;
    color: #24FF00;
}

.grid-container {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 330px auto 1rem;
    padding-left: 147px;
    padding-right: 145px;
    padding-top: 10px;
    width: auto;
}
.grid-item {
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item2 {
    padding-top: 2px;
    padding-left: 50px;
}

.event-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
}

.event-title {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 37px;
    padding-bottom: 10px;
    /* identical to box height */


    color: #FFFFFF;

    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.88);
}


@media screen and (max-width: 768px){
    .marquee-details{
        margin-right: auto;
        margin-left: auto;
        width: auto;
        color: white;
        font-size: 12px;
    }

    .grid-container {
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: unset !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-size {
        position: absolute;
        height: 420px;
        left: 0px;
        top: 0px;
        width: 100%;
    
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.56));
    }
    
    .girl-position {
        height: 420px;
    }

    .content {
        margin-top: 420px;
      
    }

    .grid-item {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item2 {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .event-title {
        font-size: auto;
        text-align: center;
    }
}

.footer {
    padding-top: 25px;
}

@media screen and (max-width: 1024px){
    .grid-container {
        grid-template-columns: 250px auto 1rem;
    }
}


