* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #DDD;
}

.MusicPlayer {
    display: flex;
    align-items: left;
    justify-content: start;
    min-height: 100vh;
}

.c-player {
    display: block;
    background: rgba(47, 47, 47, 0.5);
    display: block;
    margin: 0px auto;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    border: 1px solid #888888;
    height: auto;
}

.c-player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.c-player--details .details-img img {
    margin: 10px auto;
    width: 100%;
    max-width: 100%;
    height: 20 0px;
}

.c-player--details .details-title {
    color: #EEE;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #24FF00 ;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #24FF00 ;
    font-size: 18px;
}

.img-player{
    height: 190px;
}

@media screen and (max-width: 768px)
{
    .c-player {
        width: 80%;
        padding: 20px;
    }
    .c-player--details .details-img {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }

    .c-player--controls .play-btn {
        font-size: 14px;
    }

    .c-player--details .details-title {
        font-size: 14px;
    }

    .img-player{
        height: 100px;
    }

    .c-player--controls {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
    }
}


@media screen and (max-width: 1024px)
{
    .c-player {
        width: 80%;
        padding: 20px;
    }
    .c-player--details .details-img {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }

    .c-player--controls .play-btn {
        font-size: 12px;
    }

    .c-player--details .details-title {
        font-size: 12px;
    }

    .img-player{
        height: 100px;
    }

    .c-player--controls {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
    }
}

/* .c {
    position: absolute;
    left: 35px;
    top: 380px;
}

audio{
    width: 280px;
    background-color: black !important;
} */